<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">

        <div class="panel-heading" style="background-color: #286090">
          <h3 class="panel-title" style="color: white">Connectez vous s'il vous plait.</h3>
        </div>

        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="radio">
                <label>
                  <input type="radio" name="accountType" id="student" checked (change)="onRadioChange()">
                  <span>Etudiant</span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="accountType" id="teacher" (change)="onRadioChange()">
                  <span>Prof/Admin</span>
                </label>
              </div>
              <div class="form-group" *ngIf="account.isStudent">
                <input class="form-control" placeholder="CNE" name="cne" type="text" autofocus [(ngModel)]="account.cne"
                       required>
              </div>
              <div class="form-group" *ngIf="account.isStudent">
                <input class="form-control" placeholder="CIN" name="cin" type="text" [(ngModel)]="account.cin"
                       required>
              </div>
              <div class="form-group" *ngIf="!account.isStudent">
                <input class="form-control" placeholder="Numero" name="numero" type="text" autofocus [(ngModel)]="account.numero"
                       required>
              </div>
              <div class="form-group" *ngIf="!account.isStudent">
                <input class="form-control" placeholder="Mot de passe" name="mpd" type="password" [(ngModel)]="account.password"
                       required>
              </div>
              <button class="btn btn-lg btn-primary btn-block" (click)="authenticate()">Connexion</button>
            </fieldset>
          </form>
          <!--<div class="alert alert-danger" >error</div>-->
        </div>

      </div>
    </div>
  </div>
</div>
