<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Modifier un compte enseignant</h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <form role="form" (ngSubmit)="updateTeacher()" #teacherForm="ngForm" *ngIf="teacher">
          <div class="form-group"
               [ngClass]="{
                  'has-success' : Nom.valid && (Nom.dirty || Nom.touched),
                  'has-error' : Nom.invalid && (Nom.dirty || Nom.touched)
             }">
            <label>Nom</label>
            <input class="form-control" name="Nom" [(ngModel)]="teacher.nom" required #Nom="ngModel">
            <p class="help-block" *ngIf="Nom.errors && Nom.errors.required && (Nom.dirty || Nom.touched) ">Champs obligatoire</p>
          </div>

          <div class="form-group"
               [ngClass]="{
                  'has-success' : Prenom.valid && (Prenom.dirty || Prenom.touched),
                  'has-error' : Prenom.invalid && (Prenom.dirty || Prenom.touched)
             }">
            <label>Prenom</label>
            <input class="form-control" name="Prenom" [(ngModel)]="teacher.prenom" required #Prenom="ngModel">
            <p class="help-block" *ngIf="Prenom.errors && Prenom.errors.required && (Prenom.dirty || Prenom.touched) ">Champs obligatoire</p>
          </div>

          <div class="form-group"
               [ngClass]="{
                  'has-success' : Numero.valid && (Numero.dirty || Numero.touched),
                  'has-error' : Numero.invalid && (Numero.dirty || Numero.touched)
             }">
            <label>Numero</label>
            <input class="form-control" name="Numero" [(ngModel)]="teacher.numero" required pattern="[0-9]*" #Numero="ngModel">
            <p class="help-block" *ngIf="Numero.errors && Numero.errors.required && (Numero.dirty || Numero.touched) ">Champs obligatoire</p>
            <p class="help-block" *ngIf="Numero.errors && Numero.errors.pattern && (Numero.dirty || Numero.touched)">Numero doit contenir que des numeros</p>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="teacherForm.invalid">Update</button>
        </form>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Modules affectés
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Numero</th>
                  <th>Nom</th>
                  <th>#</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="currentModules">
                  <tr *ngFor="let module of currentModules">
                    <td>{{module.numero}}</td>
                    <td>{{module.nom}}</td>
                    <td><i class="fa fa-minus-square" style="cursor: pointer;color: #F79A93;" (click)="onDeleteModule($event,module)"></i></td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Modules non affectés
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Numero</th>
                  <th>Nom</th>
                  <th>#</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="freeModules">
                  <tr *ngFor="let module of freeModules">
                    <td>{{module.numero}}</td>
                    <td>{{module.nom}}</td>
                    <td><i class="fa fa-plus-square" style="cursor: pointer;color: #3D8E24;" (click)="onAddModule($event,module)"></i></td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
      </div>
    </div>
  </div>
</div>
